@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

/* Konfigurasi Font Mesin Tik */
@theme {
    --font-typewriter: "Courier Prime", monospace;
}

/* Global Styles */
body {
    background-color: var(--color-surface-50);
    color: var(--color-surface-900);
    font-family: var(--font-typewriter);
}

/* Scrollbar Minimalis */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-surface-300);
    border-radius: 4px;
}

/* Utilitas Pixel Art */
.pixelated {
    image-rendering: pixelated;
}